<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1>Edit Form</h1>
      <form>

        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control" name="title" [(ngModel)]="updatedCourse.title">

        <label for="description" class="form-label">Description</label>
        <input type="text" id="description" class="form-control" name="description"
          [(ngModel)]="updatedCourse.description">

        <label for="price" class="form-label">price</label>
        <input type="text" id="price" class="form-control" name="price" [(ngModel)]="updatedCourse.price">
        <div id="button">
          <button type="button" class="btn btn-success"  (click)="editData()">Save</button>
          <button type="button" class="btn btn-danger ms-2" (click)="backToHomePage()">Cancle</button>
        </div>

      </form>

    </div>
  </div>
</div>
